@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <img src="~/Images/camera-header.jpg" alt="cover-page" style="height:50%; background-size:cover; position:relative; width:100%" ; />
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="margin-left:60px">Handicraft Product</h2>
        <div>
            <img src="~/Images/handicraft.jpg" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">
            Top rated electric products with five year warranty
        </p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">More related products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="margin-left:60px">Sports Product</h2>
        <div>
            <img src="~/Images/2.jpg" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">Contain all kind of sport products</p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">more related products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="margin-left:60px">Fashion Product</h2>
        <div>
            <img src="~/Images/1.jpg" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">All kinds of Shirts, Jeans, Inner Wear, Watches</p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">more related products &raquo;</a></p>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2 style="margin-left:60px">Electric Product</h2>
        <div>
            <img src="~/Images/3.png" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">
            Top rated electric products with five year warranty
        </p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">More related products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="margin-left:60px">Sports Product</h2>
        <div>
            <img src="~/Images/2.jpg" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">Contain all kind of sport products</p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">more related products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="margin-left:60px">Fashion Product</h2>
        <div>
            <img src="~/Images/1.jpg" alt="sample photo" style="width: 350px; height: 250px">
        </div>
        <p style="margin-top:20px">All kinds of Shirts, Jeans, Inner Wear, Watches</p>
        <p><a class="btn btn-default" href="~/ProductInfoes/Details">more related products &raquo;</a></p>
    </div>
</div>



