@model List<EcommerceWebApplication.Models.EF.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo().Grid(Model)
                            .Name("grid")
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.CustomerID);
                                columns.Bound(c => c.CustomerName);
                                columns.Bound(c => c.ContactNumber);
                                columns.Bound(c => c.email);
                            })
                            .HtmlAttributes(new { style = "height: 550px;" })
)
