@model EcommerceWebApplication.Models.EF.Role

@if (Convert.ToInt32(Session["Role"]) == Convert.ToInt32(UserConstants.Role.Admin))
{
    
    <li>@Html.ActionLink("Admin", "Index", "Customers")</li>
}
